.cart {


    &__wrp {
        @media screen and (min-width: $w992) {
            display: flex;
            margin: -15px;

            &>div {
                padding: 15px;
            }
        }
    }

    &__topbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    &__item {
        padding-bottom: 10px;
    }

    &__remove-select {
        & span {
            font-weight: 600;
            font-size: 13px;
            color: $blue;
            cursor: pointer;
        }
    }

    &__aside {
        @media screen and (min-width: $w992) {
            width: 34%;
            max-width: 440px;
            min-width: 300px;
        }
    }

    &__content {
        flex-grow: 1;
    }



}


.cart-item {

    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    position: relative;

    @media screen and (min-width: $w992) {
        padding-left: 58px;
        padding-right: 80px;


    }


    &__action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        margin-left: -10px;
        margin-right: -10px;
        margin-top: -12px;
    }

    &__check {

        @media screen and (min-width: $w992) {
            position: absolute;
            left: 20px;
            top: 50%;
            margin-top: -9px;
        }

        & .checkbox {
            &__text {
                display: none;
            }
        }
    }

    &__remove {

        cursor: pointer;

        @media screen and (min-width: $w992) {
            position: absolute;
            right: 20px;
            top: 50%;
            margin-top: -12px;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        position: relative;

        @media screen and (min-width: $w992) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__counter {

        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;

        @media screen and (min-width: 360px) {
            margin-left: 0;
        }



        @media screen and (min-width: $w1200) {
            // border: 2px solid $blue;
            // padding: 8px 12px;
            border-radius: 5px;
            width: auto !important;
        }

        &-input {

            margin: 0 7px;

            & input {
                width: 42px;
                height: 34px;
                border: 1px solid #CFD9E0;
                border-radius: 3px;
                text-align: center;
            }
        }

        &-dec,
        &-inc {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

    }

    &__tags {



        & ul {
            display: flex;
            flex-wrap: wrap;
            margin: -2px;

            & li {

                padding: 6px 2px;

                & a {
                    font-size: 12px;
                    padding: 4px 8px;
                    border-radius: 3px;
                    background-color: $bg-gray;
                    color: rgba(17, 27, 41, 0.5);
                    transition: 0.3s;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                &.active,
                &.minicard-tags--gray {
                    & a {
                        background-color: #8296A9;
                        color: #fff;
                    }
                }
            }
        }


    }

    &__title {

        padding-bottom: 10px;
        padding-top: 14px;

        & a {
            font-weight: 500;
            font-size: 15px;
            line-height: 133%;
            color: $black;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__image {

        position: absolute;
        left: 0;
        top: 0;
        width: 65px;
        height: 42px;
        z-index: 1;

        @media screen and (min-width: $w992) {
            position: static;
            width: auto;
            height: auto;
            max-width: 85px;
            min-width: 85px;
        }


        & picture {
            padding-top: 65%;
            display: block;
            background-color: $bg-gray;
            position: relative;

            & img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                color: $bg-gray;
            }
        }
    }

    &__price {


        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: -4px;
        min-width: 80px;

        @media screen and (min-width: $w576) {
            margin-left: auto;
            margin-right: 20px;
        }

        @media screen and (min-width: $w992) {
            margin-right: auto;
        }

        &-current {
            font-size: 20px;
            font-weight: bold;
            padding: 1px;
            line-height: 1em;

            & span {
                margin-right: 0.3em;
                display: inline-block;

            }
        }

        &-old {
            color: rgba(17, 27, 41, 0.5);
            text-decoration: line-through;
            padding: 1px;
            line-height: 1em;
        }
    }

    &__prop {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        order: -1;
        width: calc(100% - 85px);
        margin-left: auto;
        padding: 5px 0;

        @media screen and (min-width: $w992) {
            order: inherit;
        }
    }

    &__inner {
        @media screen and (min-width: $w992) {
            padding-left: 30px;
            width: 85%;
        }
    }



}

.cart-aside {
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
    margin-top: 20px;


    @media screen and (min-width: $w992) {
        position: sticky;
        margin-top: 40px;
        top: 30px;
        padding: 30px;
    }

    &__wrp {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 15px;
    }

    &__promocode {

        padding-bottom: 10px;

        @media screen and (min-width: $w992) {
            order: 2;
            border-top: 1px solid rgba(17, 27, 41, 0.1);
            padding-top: 20px;
            padding-bottom: 20px;
        }

        & input {
            width: 100% !important;
        }

        & .error {
            color: $red;
            font-size: 12px;
            display: none;
        }
    }

    &__details {
        @media screen and (min-width: $w992) {
            order: 1;
        }
    }

    &__more {

        padding-bottom: 20px;

        & ul {
            & li {
                display: flex;
                justify-content: space-between;
                padding-bottom: 7px;
                font-size: 15px;

                &:last-child {
                    padding-bottom: 0;
                }

            }
        }
    }

    &__total {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        border-top: 1px solid rgba(17, 27, 41, 0.1);

        @media screen and (min-width: $w992) {
            order: 3;
            padding-bottom: 25px;
            padding-top: 17px;
        }

        & span {
            font-weight: bold;
            font-size: 18px;
        }

        & strong {
            font-size: 20px;

            &::after {
                content: attr(data-currency);
                margin-left: 0.3em;
            }
        }
    }

    &__checkout {
        @media screen and (min-width: $w992) {
            order: 4;
        }
    }

    &__btn {

        padding-bottom: 15px;

        & .btn {
            width: 100%;
        }
    }

    &__note {
        font-size: 13px;
        line-height: 138%;
        color: rgba(17, 27, 41, 0.5);
        padding-bottom: 20px;

    }



}



/* ================= colors ================= */

.checkout-red,
.cart-red {
    color: $red;
}

.checkout-green,
.cart-green {
    color: $green;
}

.checkout-orange,
.cart-orange {
    color: $orange;
}

.fade-out {
    opacity: 0;
    transition: 0.45s ease;
}