mixin seo-block
    .seo-block
        .seo-block__title Заголовок СЕО-текста
        .seo-block__desc 3D – декали проще в работе, чем интерьеры, выполненные по традиционным технологиям. Вам нет необходимости заниматься тщательной подгонкой и окраской (как в случае со смоляными изделиями). Или собирать «бутерброд» из нескольких слоев, самому изображая остекление в приборах. На 3D-декалях мы сделали рельефными такие детали, как утопленные циферблаты приборов и их выступающие рамки, блоки и тумблеры, кнопки и сигнальные лампы, рычаги и рукоятки, клепки и головки винтов. Кроме того, там...
        .seo-block__more
            a(href='#') Подробнее