.catalog-filter {


    &__wrp {
        background-color: #fff;
        border-radius: 3px;
    }

    &__item {

        padding: 20px 20px;
        border-bottom: 1px solid #eee;

        &.open {
            & .catalog-filter {
                &__prop {
                    max-height: 500px;

                }

                &__title {

                    &::after {
                        transform: rotate(180deg);
                        opacity: 0.3;
                    }
                }
            }
        }

    }

    &__title {
        padding-bottom: 0;
        font-weight: 500;
        font-size: 16px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &::after {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            transition: 0.3s ease;
            background-size: 10px auto;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.39 5.778l4.45-4.45A.543.543 0 0010 .94a.543.543 0 00-.16-.387L9.513.226a.548.548 0 00-.774 0L5.002 3.963 1.262.223a.543.543 0 00-.388-.16.544.544 0 00-.387.16L.16.55A.543.543 0 000 .937c0 .146.057.284.16.387l4.454 4.454c.103.103.241.16.388.16a.544.544 0 00.388-.16z' fill='%23111B29'/%3E%3C/svg%3E");
        }
    }

    &__prop {

        max-height: 0;
        overflow: hidden;
        transition: 0.3s;

        & ul {
            padding-top: 20px;
        }

        & li {
            padding-bottom: 10px;

            &:last-child {
                padding-bottom: 5px;
            }
        }
    }

    &__total {
        padding: 0px 20px 0 0px;
        font-size: 18px;
        font-weight: 500;

        height: 40px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;

        @media screen and (min-width: $w992) {
            margin-bottom: 10px;
        }

        & span {
            color: rgba(17, 27, 41, 0.5);
            margin-left: 5px;
        }
    }

    &__submit {
        padding: 20px;

        & .btn {
            margin-bottom: 10px;
            width: 100%;
        }
    }
}

.filter-close {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1L1 13' stroke='%2392919F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 1L13 13' stroke='%2392919F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-size: 16px auto;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
        cursor: pointer;
    }
}