-
  const searchCatalog = [
     {
      title: 'Категория',
      prop: [
        'Цветные 3D интерьеры',
        'Деталировка сидений',
        'Элементы экстерьера',
        'Остекление кабин',
        'Традиционные декали',
        'Заклепки 3D',
      ]
    },
    //===============================
     {
      title: 'Масштаб',
      prop: [
        'Любой',
        '1/32',
        '1/35',
        '1/48',
        '1/72',
        '1/144',
      ]
    },
    //===============================
     {
      title: 'Скидки и акции',
      prop: [
        'Скидка',
        'Новинка',
        'Хип продаж',
      ]
    },
    //===============================
     {
      title: 'Тип модели',
      prop: [
        'Самолеты',
        'Вертолеты',
        'Автомобили',
        'Бронетехника',
      ]
    },
    //===============================
     {
      title: 'Эпоха',
      prop: [
        'Настоящее время',
        'Вторая мировая война',
        'Первая мировая война',
      ]
    },
    //===============================
     {
      title: 'Сложность',
      prop: [
        'Легкая',
        'Средняя',
        'Сложная',
      ]
    },
    //===============================
     {
      title: 'Совместимость с моделями',
      prop: [
        'Для любой модели',
        'Tamiya',
        'Italeri',
        'Trumpeter',
        'Eduard',
        'Hasegawa',
        'Dragon',
        'HobbyBoss',
        'Trimaster',
        'Revell',
        'H.G.W.',
        'Kinetic',
        'Звезда',
      ]
    },
    //===============================
  ]

mixin catalog-filter
    .catalog-filter
        .catalog-filter__total
            | 473 
            span модели
        .catalog-filter__wrp
            each item,index in searchCatalog
                .catalog-filter__item(class=(index < 5 ? 'open':''))
                    .catalog-filter__title= item.title
                    .catalog-filter__prop
                        ul
                            each li in item.prop
                                 li: +checkbox(li) 
            .catalog-filter__submit
              button.btn.btn-small Показать
              button.btn.btn-gray.btn-small Сбросить
