extends ../layouts/site

block variables
  include ../../data/data.pug
  - const title = "Quinta" 


block content

  include ../../blocks/components/breadcrumb/breadcrumb.pug
  include ../../blocks/modules/about-page/about-page

 

  .page
    .page__top
      .container
        .page__breadcrumb: +breadcrumb([ 
          'Главная',
          'О компании',
        ])
         
    .page__main
      .container
          +about-page()

          

block scripts
 
  script(src="/js/vendor.js") 
  script(src="/js/common.js")  
 





