extends ../layouts/site

block variables
  include ../../data/data.pug
  - const title = "Quinta" 


block content

  include ../../blocks/components/breadcrumb/breadcrumb.pug

  include ../../blocks/modules/tag-box/tag-box
  include ../../blocks/modules/catalog-filter/catalog-filter
  include ../../blocks/modules/catalog-list/catalog-list

  .page
    .page__top
      .container
        .page__breadcrumb: +breadcrumb([ 
          'Главная',
          'Цветные 3D интерьеры ',
        ])
        .page__title: h1 Цветные 3D интерьеры 
    .page__main
      .container
        +tag-box()
        .page__wrp
          .page__aside
            +catalog-filter
          .page__content
            +catalog-list
 

block scripts
 
  script(src="/js/vendor.js") 
  script(src="/js/common.js")  
 
