extends ../layouts/site

block variables
  include ../../data/data.pug
  - const title = "Оформлене заказа" 


block content

  include ../../blocks/components/breadcrumb/breadcrumb.pug
  include ../../blocks/modules/checkout/checkout

  .page
    .page__top
      .container
        .page__breadcrumb: +breadcrumb([ 
          'Главная',
          'Корзина',
          'Оформлене заказа',
        ])
        .page__title: h1 Оформлене заказа
    .page__main
      .container
        +checkout()
 

block scripts
 
  script(src="/js/vendor.js") 
  script(src="/js/common.js")  
 
