extends ../layouts/lk

block variables
  include ../../data/data.pug
  - const title = "Личный кабинет - Quinta" 


block content

  include ../../blocks/components/breadcrumb/breadcrumb.pug
  include ../../blocks/modules/page-wishlist/page-wishlist

  .page
    .page__top
      .container
        .page__breadcrumb: +breadcrumb([ 
          'Главная',
          'Личный кабинет',
          'Избранное',
        ])
        .page__title: h1 Избранное
    .page__main
      .container
        +page-wishlist()
         
 

block scripts
 
  script(src="/js/vendor.js") 
  script(src="/js/common.js")  
 
