extends ../layouts/site

block variables
  include ../../data/data.pug
  - const title = "Quinta" 


block content

  include ../../blocks/components/breadcrumb/breadcrumb.pug

  include ../../blocks/modules/return-block/return-block

 

  .page
    .page__top
      .container
        .page__breadcrumb: +breadcrumb([ 
          'Главная',
          'Возврат',
        ])
        .page__title: h1 Возврат
    .page__main
      .container
        .page__text
          .formated-text
            p Мы обменяем товар надлежащего качества, если он вам не подошел. Если товар был приобретен у нас магазине, вы вправе обменять товар надлежащего качества на аналогичный товар в течение 14 дней, не считая дня покупки. Вы можете потребовать возврата уплаченных за товар средств только в том случае, если аналогичный товар отсутствует в продаже в день обращения.
            p Если товар был приобретен в нашем интернет-магазине, то есть дистанционно, вы вправе отказаться от товара, в любое время до его передачи, а также в течение семи дней после передачи товара. Помните, что при возврате или обмене товара надлежащего качества должны быть сохранены: комплектация, товарный вид изделия, товарный вид упаковки. Изделие не должно иметь следов эксплуатации.
            p Возврат денежных средств, при соблюдении покупателем условий о возврате товара будет осуществлен не позднее 10 дней с момента получения продавцом этого товара и соответствующего требования.
            p: strong Возврату подлежит сумма, уплаченная покупателем за товар, за исключением расходов на возврат товара.
            p: strong Чтобы оформить возврат заполните заявку на возврат

        +return-block()

block scripts
 
  script(src="/js/vendor.js") 
  script(src="/js/common.js")  
 
