extends ../layouts/site

block variables
  include ../../data/data.pug 
  - const title = "Quinta"


block content

  include ../../blocks/modules/search-result/search-result
  include ../../blocks/components/breadcrumb/breadcrumb.pug

  .page
    .page__top
      .container
        .page__breadcrumb: +breadcrumb([ 
          'Главная',
          'Результат поиска',
        ])
        .page__title: h1 Результат поиска

    .page__main
      .container
       +search-result-empty()
  


block scripts
 
  script(src="/js/vendor.js") 
  script(src="/js/common.js")  
 
