.breadcrumb {

    background-color: transparent;
    padding: 0 0 rem(20) 0;

    & ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        overflow-x: auto;
        white-space: nowrap;
    }

    & li {

        & a {

            color: $blue;
            font-weight: 500;
            font-size: 14px;

            &:hover {
                text-decoration: underline;
                color: $main;
            }


        }

        &:last-child {

            & span,
            & a {
                color: #7A808D;
                font-weight: normal;
            }

        }

        &::after {
            content: '→';
            margin: 0 rem(10);
            color: #7A808D;
            display: inline-block;
            border-radius: 50%;
            position: relative;

            font-size: 14px;
        }

        &:last-child::after {
            display: none;
        }

    }




}