.card-product {

    margin: 0 -15px;
    margin-top: -5px;


    @media screen and (min-width: $w480) {
        margin: 0;
    }

    @media screen and (min-width: $w1200) {

        display: flex;
    }

    @media screen and (min-width: $w760) {
        margin: -15px;
    }

    &__left {
        @media screen and (min-width: $w1200) {
            width: 66%;
            max-width: 870px;
        }
    }

    &__right {
        @media screen and (min-width: $w1200) {
            width: 34%;
        }
    }

    &__right,
    &__left {

        @media screen and (min-width: $w760) {
            padding: 15px;
        }

    }
}

.card-gallery {
    padding: 20px;
    background-color: #fff;

    &.popup-mode {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        overflow-x: auto;

        & .card-gallery {
            &__slider {
                max-width: 1300px;
                margin: 0 auto;
            }

            &__head {
                display: flex;
            }

            &__thumb {
                padding-top: 20px;

                & .splide {
                    @media screen and (min-width: $w992) {
                        position: static;
                    }

                    &__arrows {
                        position: absolute;
                        top: 48%;
                        left: 0;
                        right: 0;
                        max-width: 95%;
                        margin: 0 auto;
                    }

                }

            }

            &__main {
                & .splide {

                    &__pagination {
                        display: none;
                    }



                    &__slide {



                        & picture {
                            padding-top: 0;
                            background-color: transparent;
                            height: calc(100vh - 220px);

                            @media screen and (min-width: $w1200) {
                                height: calc(100vh - 220px);

                            }

                            & img {
                                object-fit: contain;
                            }

                        }
                    }
                }
            }
        }

    }



    &__head {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        display: none;
    }

    &__close {
        width: 40px;
        height: 40px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        & svg {
            &:not(:hover) {
                fill: #000;
                filter: grayscale(1) brightness(0);
            }
        }

    }


    &__title {
        font-size: 18px;
        font-weight: bold;

        width: calc(100% - 40px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 1em;

        @media screen and (min-width: $w1200) {
            visibility: hidden;
        }
    }

    &__slide {



        & picture {
            position: relative;
            padding-top: 64%;
            display: block;
            background-color: #eee;

            & img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__main {
        & .splide {
            &__pagination {
                position: relative;
                padding-top: 25px;
                padding-bottom: 12px;

                &__page {
                    width: 5px;
                    height: 5px;
                    transition: 0.3s ease;
                    background: rgba(17, 27, 41, 0.2);

                    &.is-active {
                        width: 15px;
                        height: 5px;
                        transform: scale(1);
                        border-radius: 5px;
                        background: $blue;
                    }
                }

            }
        }
    }

    &__thumb {

        & .splide {
            &__track {
                max-width: 100%;
                margin: 0 auto;
                padding-bottom: 2px;

                @media screen and (min-width: $w760) {
                    max-width: 80%;
                }
            }

            &__list {
                //justify-content: center;

                & li {
                    @media screen and (min-width: $w1440) {
                        min-width: 120px;
                    }
                }

            }

            &__arrow {

                display: none;

                @media screen and (min-width: $w760) {
                    display: block;
                }

                & svg {
                    fill: $black;
                }
            }

            &__slide {
                padding: 3px;
                border: 1px solid #CFD9E0 !important;
                border-radius: 3px;

                @media screen and (min-width: $w760) {
                    padding: 5px;
                }

                &.is-active {
                    border: 2px solid $blue !important;
                }
            }
        }


    }
}

.card-details {
    padding: 20px;
    background-color: #fff;
}

.desc-product {
    padding: 20px;
    background-color: #fff;

    margin: 0 -15px;

    @media screen and (min-width: $w480) {
        margin: 0;
    }


}

.card-details {
    &__code {
        flex-grow: 1;
        flex-basis: 50%;
        min-width: 50%;
        padding-bottom: 10px;

        & span {
            display: block;
            text-align: right;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgba(17, 27, 41, 0.5);
            font-size: 12px;
        }

    }

    &__fav {

        display: flex;
        align-items: center;

        justify-content: flex-end;


        & small {
            font-size: 13px;
            margin-left: 5px;
            color: rgba(17, 27, 41, 0.5);
            margin-top: -2px;
        }

        & span {
            display: flex;
            align-items: center;
            position: relative;
            transition: all 0.4s ease-in;

            &::before {
                content: '';
                background-color: $blue;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transform: scale(0.001, 0.001);
                visibility: hidden;
            }

            &.active {
                outline: 0;
                color: #fff;

                & svg {
                    fill: $blue;
                    stroke: $blue;
                }

                &::before {
                    animation: effect_dylan 0.8s 0.08s ease-out;
                    visibility: visible;
                }
            }
        }

        & svg {
            fill: transparent;
            stroke: #b8bbc0;
            cursor: pointer;
            position: relative;
            transition: 0.3s ease;
        }
    }

    &__title {
        & h1 {
            font-size: 24px;
            line-height: 140%;

            @media screen and (min-width: $w1440) {
                font-size: 32px;
            }
        }

        padding-bottom: 20px;
    }

    &__tags {


        padding-bottom: 20px;
        margin-right: -15px;


        @media screen and (min-width: $w480) {
            margin-right: 0;
        }

        & ul {
            display: flex;
            margin: -2px;
            overflow-x: auto;
            padding-bottom: 5px;


            @media screen and (min-width: $w480) {
                flex-wrap: wrap;
                overflow-x: hidden;
            }

            & li {

                padding: 2px 2px;

                & a {
                    font-size: 12px;
                    padding: 5px 10px 7px 10px;
                    display: block;
                    border-radius: 3px;
                    background-color: #F0F2F3;
                    color: #8296A9;
                    transition: 0.3s;
                    white-space: nowrap;

                    &.active,
                    &:hover {
                        background-color: #8296A9;
                        color: #F0F2F3;
                    }
                }

                &.active {
                    & a {
                        background-color: #8296A9;
                        color: #F0F2F3;
                    }
                }

                &.minicard-tags--gray {
                    & a {
                        background-color: #8296A9;
                        color: #fff;
                    }
                }
            }
        }


    }

    &__shiping {
        & ul {
            display: table;
            background-color: #F0F2F3;
            border-radius: 3px;
            width: 100%;
            padding: 10px;

            @media screen and (min-width: $w1200) {
                padding: 20px;
            }

            & li {
                display: table-row;

                & span {
                    display: table-cell;
                    font-size: 13px;
                    padding: 5px 10px;

                    & a {
                        color: $link-blue;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    &:first-child {

                        /* Font grey */
                        color: $black
                    }
                }
            }
        }
    }

    &__action {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    &__price {


        display: flex;
        flex-wrap: wrap;
        margin: -4px;



        &-current {
            font-size: 24px;
            font-weight: bold;
            padding: 4px;
        }

        &-old {
            color: rgba(17, 27, 41, 0.5);
            text-decoration: line-through;
            padding: 4px;
        }
    }

    &__buy-mobile {

        padding-bottom: 15px;

        @media screen and (min-width: $w760) {
            display: none;
        }

        & .btn {
            width: 100%;

            & span {
                margin: 0 0.3em;
                display: block;
            }
        }
    }

    &__buy {
        display: flex;
        align-items: center;
        border: 2px solid $blue;
        padding: 10px 5px;
        margin-bottom: 20px;
        border-radius: 3px;
        display: none;

        &.open {
            display: flex;
        }

        @media screen and (min-width: $w760) {
            display: flex;
        }

        @media screen and (min-width: $w1200) {
            border: none;

        }

        &>div {
            width: 33.33%;
        }

    }

    &__counter {

        display: flex;
        align-items: center;
        justify-content: center;



        @media screen and (min-width: $w1200) {
            border: 2px solid $blue;
            padding: 8px 12px;
            border-radius: 5px;
            width: auto !important;
        }

        &-input {

            margin: 0 7px;

            & input {
                width: 42px;
                height: 34px;
                border: 1px solid #CFD9E0;
                border-radius: 3px;
                text-align: center;
            }
        }

        &-dec,
        &-inc {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

    }

    &__order {



        @media screen and (min-width: $w1200) {
            flex-grow: 1;
            padding-left: 15px;

        }

        & .btn-order-desktop {
            display: none;

            & small {
                margin-left: 0.3em;
                font-size: inherit;
                font-weight: 300;

                &::before {
                    content: attr(data-text);
                    margin-right: 0.3em;
                }

                &::after {
                    content: attr(data-currency);
                    margin-left: 0.3em;
                }

            }

            @media screen and (min-width: $w1200) {
                display: inline;
            }
        }

        & .btn-order-mobile {
            display: inline;

            @media screen and (min-width: $w1200) {
                display: none;
            }
        }

        & .btn {
            height: 30px;
            margin: 0 auto;
            min-width: auto;


            @media screen and (max-width: $w1200) {
                background-color: transparent;
                color: $blue;
                padding: 0;
            }

            @media screen and (min-width: $w1200) {
                padding: 0 2em;
                height: 54px;
                width: 100%;
            }
        }
    }

    &__total {
        &-mobile {
            text-align: center;
            font-size: 18px;

            @media screen and (min-width: $w1200) {
                display: none;
            }

        }
    }
}

.dots-prop {

    font-size: 13px;
    padding-bottom: 25px;
    display: none;

    @media screen and (min-width: $w1200) {
        font-size: 15px;
        display: block;
    }

    &__item {
        display: flex;
        padding: 5px 0;

        & div {
            width: 50%;
        }

    }

    &__name {
        /* Font grey */
        color: rgba(17, 27, 41, 0.5);
        display: flex;

        &::after {
            content: "";
            display: block;
            overflow: hidden;
            height: 1em;
            border-bottom: 1px dotted;
            flex-grow: 1;
            margin: 0 5px;
        }


    }



}

.desc-product {



    @media screen and (min-width: $w1200) {

        max-width: 840px;
        width: calc(66% - 10px);
    }

    @media screen and (min-width: $w760) {
        margin-top: 30px;
    }

    &__title {
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 1em;

        @media screen and (min-width: $w1200) {
            font-size: 24px;
        }
    }

    &__text {
        line-height: 150%;
    }
}