mixin tag-box
    .tag-box
        .tag-box__list
            ul
                li.active: a(href='#') Все
                li: a(href='#') Самолеты
                li: a(href='#') Вертолеты
                li: a(href='#') Автомобили
                li: a(href='#') Бронетехника
                li: a(href='#') Звезда
                li: a(href='#') Tamiya
                li: a(href='#') Trumpeter


mixin tag-box-line(data)
    .tag-box.tag-box--line
        .tag-box__list
            ul
               each item, index in data
                    li(class=!index ? 'active':''): a(href='#' title=item)= item 


mixin tag-box-array(data)
    .tag-box.tag-box--more
        .tag-box__list
            ul(data-tagbox="container")
                each item, index in data
                    li(class=!index ? 'active':''): a(href='#' title=item)= item 
        .tag-box__more
            button.btn.btn-small(data-tagbox="open" data-lang-show="Показать еще" data-lang-hide="Свернуть") Показать еще
                   