mixin tag-box
    .tag-box
        .tag-box__list
            ul
                li.active: a(href='#') 1/32
                li: a(href='#') 1/35
                li: a(href='#') 1/48
                li: a(href='#') 1/72
                li: a(href='#') 1/144
                li: a(href='#') Все модели
