mixin tag-box
    .tag-box
        .tag-box__list
            ul
                li.active: a(href='#') 1/32
                li: a(href='#') 1/35
                li: a(href='#') 1/48
                li: a(href='#') 1/72
                li: a(href='#') 1/144
                li: a(href='#') Все модели


mixin tag-box-array(data)
    .tag-box.tag-box--more
        .tag-box__list
            ul(data-tagbox="container")
                each item, index in data
                    li(class=!index ? 'active':''): a(href='#' title=item)= item 
        .tag-box__more
            button.btn.btn-small(data-tagbox="open" data-lang-show="Показать еще" data-lang-hide="Свернуть") Показать еще
                   