.tag-box {

    padding-bottom: 25px;

    @media screen and (min-width: $w992) {
        padding-bottom: 30px;
    }



    &__list {

        & ul {

            display: flex;
            flex-wrap: nowrap;
            margin: -5px;
            overflow-x: auto;

            & li {

                padding: 5px;
                flex-grow: 1;
                flex-basis: 120px;

                @media screen and (min-width: $w760) {
                    max-width: 120px;
                }

                & a {
                    display: block;
                    background-color: #fff;
                    padding: 6px 10px;
                    text-align: center;
                    font-size: 13px;
                    border-radius: 3px;
                    border: 1px solid transparent;
                    white-space: nowrap;

                    @media screen and (min-width: $w992) {
                        padding: 10px 10px;
                    }

                    &.active,
                    &:hover {
                        border-color: $blue;
                    }
                }
            }
        }
    }

    &--line {
        & .tag-box {
            &__list {
                & li {
                    max-width: none;
                    flex-grow: 0;
                    flex-basis: auto;

                    & a {
                        white-space: nowrap;
                        max-width: 200px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        background-color: transparent;
                        border: 2px solid #8296A9;
                        border-radius: 3px;
                        color: #8296A9;
                        padding: 5px 10px;

                    }
                }
            }
        }
    }

    &--more {

        @media screen and (min-width: $w992) {
            display: flex;
        }

        & .tag-box {

            &__list {

                @media screen and (min-width: $w992) {
                    width: calc(100% - 150px);
                }

                & ul {

                    &.open {
                        flex-wrap: wrap;
                    }

                    @media screen and (min-width: $w992) {
                        flex-wrap: nowrap;
                        overflow-x: hidden;
                        padding-bottom: 5px;

                    }

                    & li {
                        max-width: none;
                        flex-grow: 0;
                        flex-basis: auto;

                        & a {
                            white-space: nowrap;
                            max-width: 200px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }
            }

            &__more {
                margin-top: 10px;


                @media screen and (min-width: $w992) {
                    margin-left: auto;
                    margin-top: 0;
                }

                & .btn {
                    height: 40px;
                    font-size: 13px;
                    padding-left: 1em;
                    padding-right: 1em;
                    background-color: #8296A9;

                    display: none;

                    &.open {
                        display: block;
                    }
                }
            }


        }
    }
}