- 
    const blogList = [
        {
            date: '15 апреля 2022',
            image: '/img/common/catalog/cat5',
            hits: '237',
            title: 'Мой первый самолет. С чего начать?',
            desc: 'Наше замечательное хобби привлекает все больше новых людей, но многие из желающих заняться моделизмом сталкиваются с непониманием с чего..',
            tags: [
                'Авиация',
                'Стендовый моделизм',
                'Покраска',
            ],
        },

        {
            date: '19 июля 2022',
            image: '/img/common/catalog/cat6',
            hits: '185',
            title: 'ГАЗ-233014 - СТС «Тигр». Новый 3D интерьер от Quinta Studio',
            desc: 'Наше замечательное хобби привлекает все больше новых людей, но многие из желающих...',
            tags: [
                'Цветные 3D интерьеры',
                'Автомобили',
            ], 
        },
        {
            date: '15 апреля 2022',
            hits: '237',
            image: '/img/common/catalog/cat5',
            title: 'Мой первый самолет. С чего начать?',
            desc: 'Наше замечательное хобби привлекает все больше новых людей, но многие из желающих заняться моделизмом сталкиваются с непониманием с чего..',
            tags: [
                'Авиация',
                'Стендовый моделизм',
                'Покраска',
            ],
        },

        {
            date: '19 июля 2022',
            hits: '185',
            image: '/img/common/catalog/cat6',
            title: 'ГАЗ-233014 - СТС «Тигр». Новый 3D интерьер от Quinta Studio',
            desc: 'Наше замечательное хобби привлекает все больше новых людей, но многие из желающих...',
            tags: [
                'Цветные 3D интерьеры',
                'Автомобили',
            ],
        },
        {
            date: '15 апреля 2022',
            hits: '237',
            image: '/img/common/catalog/cat5',
            title: 'Мой первый самолет. С чего начать?',
            desc: 'Наше замечательное хобби привлекает все больше новых людей, но многие из желающих заняться моделизмом сталкиваются с непониманием с чего..',
            tags: [
                'Авиация',
                'Стендовый моделизм',
                'Покраска',
            ],
        },

        {
            date: '19 июля 2022',
            hits: '185',
            image: '/img/common/catalog/cat6',
            title: 'ГАЗ-233014 - СТС «Тигр». Новый 3D интерьер от Quinta Studio',
            desc: 'Наше замечательное хобби привлекает все больше новых людей, но многие из желающих...',
            tags: [
                'Цветные 3D интерьеры',
                'Автомобили',
            ],
        },
        
    ]


mixin blog-list
    .blog-list 
        .blog-list__sort
            .ul-select-list
                .ul-select-list__title Сортировать
                .ul-select-list__dropdown
                    ul
                        li.active: a(href='#') По популярности
                        li: a(href='#') Сначала новые
        .blog-list__row
            each item in blogList
                .blog-list__item: +card-post(item)

        .blog-list__pagination
            +pagination()

mixin card-post(data)
    .card-post
        .card-post__image: +picture(data.image)
        .card-post__main
            .card-post__prop
                .card-post__date= data.date
                .card-post__hits: span= data.hits
            .card-post__title
                a(href='#')= data.title
            .card-post__desc
                span= data.desc
            .card-post__tags
                ul
                    each li in data.tags
                        li: a(href='#')= li
                       

