mixin blog-list
    .blog-list 
        .blog-list__sort
            .ul-select-list
                .ul-select-list__title Сортировать
                .ul-select-list__dropdown
                    ul
                        li.active: a(href='#') По популярности
                        li: a(href='#') Сначала новые
        .blog-list__row
            each item in app.blogList
                .blog-list__item: +card-post(item) 

        .blog-list__pagination
            +pagination()

mixin card-post(data)
    .card-post
        .card-post__image   
            a(href='blog-details.html')
                +picture(data.image)
        .card-post__main
            .card-post__prop
                .card-post__date= data.date
                .card-post__hits: span= data.hits
            .card-post__title
                a(href='blog-details.html')= data.title
            .card-post__desc
                span= data.desc
            .card-post__tags
                ul
                    each li in data.tags
                        li: a(href='#')= li
                       

