.section-advantages-block {
    @include section-padding;
    background-color: #fff
}


.advantages-block {
    &__title {
        @include section-title;
        padding-bottom: 40px;
        text-transform: none;

        & br {
            @media screen and (min-width: $w576) {
                display: none;
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item {
        flex-grow: 1;
        flex-basis: 320px;
        padding: 15px;

        margin-bottom: 30px;


    }
}

.card-advantages {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {

        padding-bottom: 20px;

        & .bgimage {
            width: 86px;
            height: 86px;
            @include bgimage-contain;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        padding-bottom: 20px;
        line-height: 140%;

        max-width: 340px;
    }

    &__subtitle {
        text-align: center;
        line-height: 140%;
        font-size: 15px;
        color: rgba(17, 27, 41, 0.5);

        max-width: 340px;
    }
}