-
    const adv = [
        {
            image: '/img/common/svg/Frame.svg',
            title: 'Созданно энтузиастами <br> для энтузиастов',
            desc: 'Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности',
        },
        {
            image: '/img/common/svg/Frame-1.svg',
            title: 'Лидеры в производстве <br> деталей для моделирования',
            desc: 'Равным образом дальнейшее развитие деятельности позволяет выполнять важные задания',
        },
        {
            image: '/img/common/svg/Frame-2.svg',
            title: 'Доставка <br> по всему миру',
            desc: 'Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль',
        },
    ]

mixin advantages-block
    section.section-advantages-block
        .container
            .advantages-block
                .advantages-block__title Моделируйте <br> с Quinta Studio
                .advantages-block__list
                    each item in adv
                        .advantages-block__item: +card-advantages(item)

mixin card-advantages(data)
    .card-advantages
        .card-advantages__image: +bgimage(data.image)
        .card-advantages__title!= data.title
        .card-advantages__subtitle!= data.desc
                    