mixin main-menu(data)
 
    .main-menu(data-register="popup")
        .main-menu__wrp
            
            .main-menu__form
                .main-menu__inner
                    .main-menu__close: span(data-register="close-popup"): +icons('#ic_cross', 20)
                    .main-menu__lang: +change-lang
                        
                    .main-menu__slider
                        .splide(data-slider="signup")
                            .splide__track
                                .splide__list
                                    .splide__slide: +login-user
                                    .splide__slide: +verification-user
                                    .splide__slide: +register-user

                    .main-menu__link
                        ul
                            li: a(href='#') О компании
                            li: a(href='#') Контакты
                            li: a(href='#') Блог
                            li: a(href='#') Юридическая информация
                    .main-menu__social
                        ul
                            li: a(href='#'): +bgimage('/img/svg/ic_vk.svg')
                            li: a(href='#'): +bgimage('/img/svg/ic_fb.svg') 
                            li: a(href='#'): +bgimage('/img/svg/ic_ig.svg')

            .main-menu__image: +bgimage('/img/common/registration.jpg')