footer {
    background-color: $black;
    color: #fff;

    padding-top: 30px;

}

.footer {

    &__top {
        display: flex;
        flex-direction: column-reverse;

        @media screen and (min-width: $w992) {
            flex-direction: row;
        }

    }

    &__nav {

        padding-bottom: 25px;

        @media screen and (min-width: $w992) {
            flex-grow: 1;
            padding-bottom: 15px;
            margin-left: -7px;
        }


        & ul {

            border-bottom: 1px solid #27303D;
            padding-top: 25px;
            padding-bottom: 25px;

            @media screen and (min-width: $w992) {
                display: flex;
                flex-wrap: wrap;
                max-width: 560px;
                margin-right: auto;
                border-bottom: none;
                padding-top: 0;
            }

            & li {
                padding: 5px 0;
                text-align: center;

                @media screen and (min-width: $w992) {
                    padding: 5px 10px;
                }
            }
        }

        & a {
            color: #8296A9;
            font-weight: 500;

            &:hover {
                color: #fff;
            }
        }
    }

    &__social {

        border-bottom: 1px solid #27303D;

        @media screen and (min-width: $w992) {
            border-bottom: 0;
        }

        &-title {
            color: #fff;
            font-weight: 600;
            font-size: 20px;
            text-align: center;
            line-height: 140%;
            margin-bottom: 25px;

            @media screen and (max-width: $w480) {
                max-width: 290px;
                margin-left: auto;
                margin-right: auto;
            }

            @media screen and (min-width: $w992) {
                text-align: right;
                font-weight: 500;
                font-size: 15px;

                margin-bottom: 15px;
            }
        }

        & ul {

            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            @media screen and (min-width: $w992) {
                justify-content: flex-end;
                margin-right: -10px;
            }

            & li {

                @media screen and (min-width: $w992) {
                    margin: 0 2px;
                }

                & a {
                    display: block;
                    padding: 5px 20px;
                    border-right: 1px solid #27303D;

                    @media screen and (min-width: $w992) {
                        padding: 0;
                        border: none;

                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    &:hover {
                        background-color: #27303D;
                    }
                }

                & .bgimage {
                    width: 24px;
                    height: 24px;
                    @include bgimage-contain;

                    @media screen and (min-width: $w992) {
                        width: 20px;
                        height: 20px;
                    }
                }

                &:last-child {
                    & a {
                        border-right: none;
                    }
                }
            }
        }
    }

    &__lang {
        padding-bottom: 30px;

        @media screen and (min-width: $w992) {
            padding-bottom: 0;
        }
    }

    &__apps {

        padding-bottom: 30px;

        @media screen and (min-width: $w992) {
            padding-bottom: 0;
        }

        & ul {

            display: flex;
            justify-content: center;
            margin: -10px;

            & li {

                padding: 10px;

                & .bgimage {
                    width: 130px;
                    height: 44px;

                    @media screen and (min-width: $w480) {
                        width: 147px;
                        height: 46px;
                    }

                    @include bgimage-contain;
                }
            }
        }
    }

    &__bottom {
        @media screen and (min-width: $w760) {
            display: flex;
            align-items: center;
            justify-content: space-between;

            border-top: 1px solid $black-2;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

.footer-copyright {
    background-color: #27303D;
    padding: 14px 0;

    &__text {
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        font-size: 13px;

        @media screen and (min-width: $w992) {
            text-align: left;
        }
    }
}

.change-lang {

    position: relative;
    max-width: 280px;
    margin: 0 auto;

    &:hover {
        & .change-lang {
            &__dropdown {
                opacity: 1;
                transform: translateY(0);
                visibility: visible;
            }
        }
    }

    &__title {
        border: 2px solid #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        border-radius: 3px;

        @media screen and (min-width: $w760) {
            padding-left: 20px;
            padding-right: 20px;
        }

        & span {
            &.lang-full-name {
                display: none;

                @media screen and (min-width: $w1200) {
                    display: block;
                }
            }

            &.lang-code-name {

                display: block;

                @media screen and (min-width: $w1200) {
                    display: none;
                }
            }

            &.lang-flag-country {
                display: block;
                width: 20px;
                height: 15px;
                background-size: contain;
                margin-left: 9px;
            }
        }


        & svg {
            margin-left: 10px;
        }
    }

    &__dropdown {

        position: absolute;
        right: 0;
        left: 0;
        bottom: calc(100%);

        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
        transform: translateY(10px);
        padding-bottom: 10px;

        min-width: 125px;

        & ul {
            background-color: $black-2;

            max-height: 225px;
            overflow: auto;


            scrollbar-color: #657389 #313c4d;
            scrollbar-width: thin !important;

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-track {
                background-color: #657389;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #313c4d;
            }


        }

        & li {

            border-bottom: 1px solid $black-3;
            transition: 0.3s ease;

            & a {
                padding: 12px 20px;
                display: block;
            }

            &:hover {
                background-color: $black-3;
            }

            &:last-child {
                border-bottom: none;
            }
        }

        & a {
            color: #fff;
        }
    }
}