mixin change-lang 
  .change-lang
    .change-lang__title
      span Русский
      +icons('#ic_network', 16)
    .change-lang__dropdown
      ul
        li: a(href='#ru') Русский
        li: a(href='#en') English 


mixin change-lang-min
  .change-lang
    .change-lang__title
      span.lang-full-name Русский
      span.lang-code-name RU
      +icons('#ic_network', 16)
    .change-lang__dropdown
       ul
        li: a(href='#ru') Русский
        li: a(href='#en') English 