mixin change-lang 
  .change-lang
    .change-lang__title
      span Русский
      span(data-bg="/img/flags/ru.svg").lang-flag-country.lazyload
    .change-lang__dropdown
      ul
        li: a(href='#ru') Русский
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 
        li: a(href='#en') English 


mixin change-lang-min
  .change-lang
    .change-lang__title
      span.lang-full-name Русский
      span.lang-code-name RU
      span(data-bg="/img/flags/ru.svg").lang-flag-country.lazyload
    .change-lang__dropdown
       ul
        li: a(href='#ru') Русский
        li: a(href='#en') English
        