include ../main-menu/main-menu.pug
 

.footer
  .container
    .footer__top
      .footer__nav
        ul
          each item in app.footerMenu
            li: a(href=item.href)= item.text
      .footer__social
        .footer__social-title Будьте в курсе наших новостей
        ul
            li: a(href="#"): +bgimage('/img/common/svg/ic_vk.svg')
            li: a(href="#"): +bgimage('/img/common/svg/ic_fb.svg')
            li: a(href="#"): +bgimage('/img/common/svg/ic_ig.svg')
    .footer__bottom
      .footer__apps
        ul
          li: a(href='#'): +bgimage('/img/common/svg/apple-store.svg')
          li: a(href='#'): +bgimage('/img/common/svg/google-store.svg')
      .footer__lang
        .change-lang
          .change-lang__title
            span Русский
            +icons('#ic_network', 16)
          .change-lang__dropdown
            ul
              li: a(href='#ru') Русский
              li: a(href='#en') English

.footer-copyright
  .container
    .footer-copyright__text © 2022 Quinta Studio’s Company


