 

mixin checkout
    .checkout
        .checkout__wrp
            .checkout__content

                

                .checkout__address
                    .checkout-radio
                        .checkout-radio__title
                            span Адрес доставки
                            a(href='#' data-create-address="open")
                                +icons('#ic_plus', 32)
                                | Добавить новый адрес  
                        .checkout-radio__option
                            ul
                                +radio-card([
                                    {name: 'address', title: 'Desire Toeffaertstraat 2, 9050 GentБельгия', image:false},
                                    {name: 'address', title: 'Jovastraat 23, 9050 Gent Бельгия', image:false}
                                ])

                .checkout__user
                    .checkout-user
                        .checkout-user__data
                            .checkout-user__image: +bgimage('/img/common/svg/account.svg')
                            .checkout-user__name Georges Simenon <span>+32 529 703 83 40</span>
                        .checkout-user__profile
                            a(href='/profile.html')
                                span Личный кабинет
                                +icons('#ic_arr-right', 10)

                .checkout__delivery
                    .checkout-radio
                        .checkout-radio__title
                            span Доставка
                        .checkout-radio__option
                            ul
                                +radio-card([
                                    {name: 'delivery', title: 'Economy International Shipping +8€', image:false},
                                    {name: 'delivery', title: 'DHL International Shipping +45€', image:'/img/common/dhl.jpg'}
                                ])
                .checkout__payment
                    .checkout-radio
                        .checkout-radio__title
                            span Оплата
                        .checkout-radio__option
                            ul
                                +radio-card([
                                    {name: 'payment', title: 'Credit Card', image:'/img/common/credit-card.png'},
                                    {name: 'payment', title: 'PayPal', image:'/img/common/paypal.jpg'}
                                ])

                .checkout__order
                    .checkout__btn: button.btn Оплатить
                    .checkout__note
                        | Нажимая кнопку вы соглашаетесь с 
                        a(href='#') Условиями обработки персональных данных, 
                        | а так же с 
                        a(href='#') Политикой в отношении персональных данных
            .checkout__aside: +checkout-aside()
    .checkout-create-address
        +create-address

mixin checkout-aside
    .checkout-aside
        .checkout-aside__wrp
            .checkout-aside__details
                .checkout-aside__title Ваш заказ
                .checkout-aside__more
                    ul
                        li
                            span 10 товаров
                            strong 7 420 ₽
                        li
                            span Скидка
                            strong(class="checkout-red") - 60 ₽ 
                        li
                            span Доставка
                            strong 480 ₽ 
            

            .checkout-aside__total
                span Общая стоимость
                strong(data-currency="₽" data-cart="total-price") 7 360 


mixin radio-card(array)

    each data in array
        li
            .radio-card
                label
                    input(type="radio" name=data.name)
                    .radio-card__wrp
                        .radio-card__input
                            span.radio-card-elem
                            span.radio-card-text= data.title
                        .radio-card__image: img(src=data.image)

mixin create-address
    
        .create-address(data-popup="create-address")
            .create-address__create
                .create-address__title Новый адрес
                .create-address__form
                    form(action='#' method='POST')
                        .form
                            .form__item
                                .form__subitem
                                    select( data-find="true" name="country")
                                        option(value="") Выберите
                                        option(value="") Бельгия
                                        option(value="") Россия
                                        option(value="") Самали
                                        option(value="") Уругвай
                                        option(value="") Бельгия
                                        option(value="") Казахстан
                                        option(value="") Украина
                                        option(value="") Польша
                                        option(value="") Бельгия
                                        option(value="") Молдова
                                        option(value="") Бельгия
                                .form__subitem: input(type='text', placeholder='Адрес')
                            .form__item
                                .form__subitem: input(type='text', placeholder='Город')
                                .form__subitem: input(type='text', placeholder='Штат/Регион')
                            .form__item
                                .form__subitem: input(type='text', placeholder='Индекс/ZIP')
                                .form__subitem
                                    button.btn(type="submit" ) Добавить