.pagination {
    display: flex;
    justify-content: space-between;
    width: 100%;


    margin-top: 30px;

    @media screen and (max-width: $w480) {
        flex-direction: column;

        &__all {
            margin-bottom: rem(25);

            & .btn {
                width: 100%;
            }


        }
    }

    &__all {
        & .btn {
            background: #8296A9;
        }
    }


    &__page {

        display: flex;
        align-items: center;

        @media screen and (max-width: $w480) {
            justify-content: center;
        }

        & ul {
            display: flex;
            list-style-type: none;

            & li {

                margin-left: rem(10);

                &:hover a,
                &.active a {
                    border-color: $blue;

                }

                & a {
                    width: rem(34);
                    height: rem(34);
                    display: flex;
                    border: 2px solid transparent;
                    align-items: center;
                    justify-content: center;
                    color: $blue;
                    border-radius: 3px;


                }

            }
        }

    }
}