mixin blog-details
    .blog-details
        .blog-details__left
            .blog-details__prop
                .blog-details__date 15 апреля 2022
                .blog-details__hits: span 158
            .blog-details__image
                +picture('/img/common/catalog/cat2')
          
            .blog-details__preview Друзья! Наше замечательное хобби привлекает все больше новых людей, но многие из желающих заняться моделизмом сталкиваются с непониманием с чего начать свой путь. Мы решили написать небольшую статью о первых шагах в моделизме.
        .blog-details__right
            .model-props
                ul
                    li
                        span Название:
                        span Ил-2, 1943
                    li
                        span Производитель:
                        span Звезда
                    li
                        span Тип модели:
                        span Самолет
                    li
                        span Эпоха:
                        span Вторая мировая война
                    li
                        span Масштаб:
                        span 1:48
            .blog-lineup
                .blog-lineup__label Содержание
                .blog-lineup__list
                    ul
                        li: a(href='#') Как выбрать модель?
                        li: a(href='#') Какие инструменты понадобятся для сборки?
                        li: a(href='#') А как же красить?
                        li: a(href='#') А как строить первую модель?
                        li: a(href='#') Галерея

    .blog-content
        .formated-text
            h2 Как выбрать модель?
            p Первое, с чего стоит начать — определиться с тематикой желанной модели. Проще всего будет начать с модели самолета или танка. На них будет легко освоить базовые навыки сборки и они не требуют особых умений в росписи, как фигуры, или опыта работы с мелкими деталями, как корабли.
            p Второй шаг — выбор масштаба. Масштаб означает во сколько раз модель меньше настоящего прототипа. Так что понять размер модели в том или ином масштабе можно разделив габариты реального самолета/танк и тд на масштаб. К примеру самолет Як-3 имеет длину 849 см. В масштабе 1/48 это 17,6 см, а в 1/72 — 11,7см. Лучшим выбором будет масштаб 1/35 для наземной техники и 1/48 для авиации. Модели в этих масштабах имеют достаточно крупный размер и будут легки в сборке. А большой выбор наборов позволит найти оптимальный вариант по соотношению цена-качество.
            
            h2 Какие инструменты понадобятся для сборки?
            p Выбор инструментов для моделизма не менее объемен, чем выбор моделей. Но для начала понадобится совсем немного инструментов. Это уже с опытом можно будет приобрести различные специализированные примочки.
            p Цанговый нож со сменными лезвиями. Стоит приобрести нож с металлической цангой. Он проживет долго и прослужит верой и правдой не только в моделизме, но и в хозяйстве. Этим инструментом выполняется большинство работы с моделью.
            p Кусачки для пластика не обязательный, но очень полезный инструмент. Ими удобно отделять детали от литников, причем можно держать литник на весу, и не бояться повредить деталь сильным нажимом, как при работе ножом.

            h2 А как же красить?
            p О окраске моделей можно говорить много и долго. Мы дадим только общие советы для начинающих. Аэрограф — это хорошо, но дорого и довольно сложно. Так что начинать стоит с кисти. Лучшая краска для кисти — акрилы на водной основе. К ним относится Мастер-Акрил от Звезды, Акан, Vallejo, Армата-Колор и другие. Не стоит брать для кисти акрилы от Tamiya и Gunze. Это отличная краска, но для аэрографа.
            p Главный принцип при окраске кистью — не стараться закрасить пластик в один проход и не наносить толстый слой краски. Краску нужно разводить водой, а слои класть перпендикулярно друг-другу. При окраске кистью грунтовка не обязательна. Можно взять грунтовку в баллоне, а вот кистью наносить грунт просто нельзя. Так же неплохой идеей будет использовать краску в баллоне, от Tamiya. Если модель окрашивается в 1-2 цвета — баллон будет лучшим решением. Мелкие детали при этом окрашиваются кисточкой.

        .blog-gallery
            .blog-gallery__title
                h2 Галлерея
            .blog-gallery__slider
                .blog-gallery__main
                    .splide(data-slider="gallery-main")
                        .splide__track
                            ul.splide__list
                                each item in [1,2,3,4,5,6]
                                    li.splide__slide
                                        .blog-gallery__slide: +picture('/img/gallery/'+item)
                                
                .blog-gallery__thumb
                    .splide(data-slider="gallery-thumb")
                        .splide__track
                            ul.splide__list
                                each item in [1,2,3,4,5,6]
                                    li.splide__slide
                                        .blog-gallery__slide: +picture('/img/gallery/'+item)
                                