mixin about-page
    .about-page
        .about-page__title Добро пожаловать на наш сайт, друг
        .about-page__autor
            .project-autor
                .project-autor__image: +picture('/img/common/autor')
                .project-autor__main
                    .project-autor__sl Давай, я расскажу немного о нас, кто мы такие и откуда взялись.
                    .project-autor__name
                        strong Александр Трофимов
                        small Руководитель Quinta Studio
        .about-page__text
            .formated-text
                h3 Квинта студио – это коллектив друзей и единомышленников, которых объединила одна страсть, одно увлечение. Это масштабное моделирование. Большинство из членов нашей команды знакомо друг с другом, собирает вместе модели, дружит семьями не один десяток лет.

                p Меня зовут Александр Трофимов, я являюсь лидером этой команды, и я моделист (да, виновен, Ваша честь!) всю свою сознательную жизнь. Как это бывает в жизни, часто хобби превращается в дело.
                p Порой - в дело всей жизни.
                p Это происходит в тот момент, когда ты понимаешь, что можешь делать что-то лучше других, и это «что-то» оказывается, нужно не только тебе одному. Так получилось и с нами. Покорив олимпы множества реальных и виртуальных выставок и конкурсов (только моими призовыми грамотами, без ложной скромности, можно оклеить стены небольшой квартиры), и делая что-то для своих собственных моделей, мы наработали технологический опыт в серийном изготовлении дополнений для сборных моделей.
                p Хороших, на мой взгляд, дополнений.

                h3 Мы – команда увлеченных своим делом людей.

                p Благодаря нашей работе на свет появляются всякие клёвые штучки, позволяющие тебе, мой дорогой коллега, сделать свою модель ярче, зрелищнее и лучше.
                p Позволяют добиться «вау» - результата. Помогают, в какие-то этапы сборки модели, сэкономить твоё время (и нервы). Помогают сосредоточиться на любимой части творчества.
                p: strong И, самое главное – позволяют получить большее удовольствие от своего хобби.Вот этого я желаю тебе от всего своего, бесповоротно отравленного полистирольным ядом, сердца)))               