mixin cart-empty
    .cart-empty 
        .cart-empty__image: +bgimage('/img/common/svg/cart-empty.svg')
        .cart-empty__title В корзине пока ничего нет
        .cart-empty__desc Начните с главной страницы или <br> воспользуйтесь поиском
        .cart-empty__btn
          a(href='#'): button.btn Перейти на главную