.video {
    margin: 0 auto;
    position: relative;
    background: #000;
    border-radius: 10px;
    overflow: hidden;
    margin-top: rem(20);



    &:hover {
        & svg {
            animation: hoverWave linear 1.2s infinite;
        }
    }

    & iframe {
        border: none;
        position: relative;
        z-index: 2;
    }

    &.play {

        position: relative;

        @keyframes load {
            from {
                transform: rotate(0);
            }

            to {
                transform: rotate(360deg);
            }
        }

        &::before {
            content: '';
            width: 36px;
            min-width: 36px;
            height: 36px;
            border: 5px solid $red;
            display: block;
            border-radius: 50%;
            border-left: 5px solid transparent;
            animation: load 0.8s infinite linear;
            margin: 0 auto;
            position: absolute;
            z-index: 2;
            left: 50%;
            top: 50%;
            margin-left: -18px;
            margin-top: -18px;

            @media screen and (min-width: $w576) {
                width: 60px;
                min-width: 60px;
                height: 60px;
                margin-left: -30px;
                margin-top: -30px;
            }

        }

        & .video__preview,
        & .video__action {
            display: none;
        }
    }

    &__preview {
        & picture {
            padding-top: 61%;
            display: block;
            position: relative;

            & img {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

        }
    }

    &__action {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.82);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: 0.3s ease;

        &:hover {
            background-color: rgba(0, 0, 0, 0.62);
        }
    }

    &__title {

        font-size: 22px;
        font-weight: bold;
        text-align: center;
        color: #FFFFFF;
        max-width: rem(400);
        margin: 0 auto;
        line-height: 140%;

        @media screen and (min-width: $w760) {
            font-size: 28px;
        }


    }

    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;



        & span {
            color: #FFFFFF;
            font-size: 16px;
            text-decoration: underline;
        }

        & svg {
            margin: rem(20) 0;
            width: rem(48);
            height: rem(48);
            border-radius: 50%;

            @media screen and (min-width: $w760) {
                width: rem(86);
                height: rem(86);
            }

            // @media screen and (max-width: $w992) {
            //     width: rem(70);
            //     height: rem(70);
            // }

            // @media screen and (max-width: $w480) {
            //     width: rem(60);
            //     height: rem(60);
            // }

        }
    }
}