- 
  const app = {

    mainMenu: [
      { 'text': 'Новинки',  'href': 'new.html'},
      { 'text': 'Самолеты',  'href': 'airplanes.html'},
      { 'text': 'Вертолеты',  'href': 'helicopters.html'},
      { 'text': 'Автомобили',  'href': 'cars.html'},
      { 'text': 'Бронетехника',  'href': 'armored.html'},
      
    ],
    footerMenu: [
      { 'text': 'Каталог',  'href': '/catalog-category.html'},
      { 'text': 'Оптовикам',  'href': '/opt.html'},
      { 'text': 'Оплата и доставка',  'href': '/delivery.html'},
      { 'text': 'Возврат',  'href': '/returns.html'},
      { 'text': 'О компании',  'href': '/about.html'},
      { 'text': 'Контакты',  'href': '/contacts.html'},
      { 'text': 'Блог',  'href': '/blog.html'},
      { 'text': 'Юридическая информация',  'href': '/info.html'},
      
    ],

    catalog: [
      {
        id: '112',
        image: '/img/common/catalog/cat1',
        title: '3D Декаль интерьера кабины семейство Opel Blitz',
        cat: 'Цветные 3D интерьеры',
        price: '3520',
        code: true,
        like: true,
        badge: {
          class: 'badge--red',
          text: 'Акция'
        },
        tags: [
          '1/48',
          'Автомобиль',
          'Tamiya/Italeri',
        ],
      },
      {
        id: '1225',
        image: '/img/common/catalog/cat2',
        title: '3D Декаль интерьера кабины для семейства HUMVEE',
        cat: 'Цветные 3D интерьеры',
        price: '99000',
        code: true,
        like: true,
        badge: {
          class: 'badge--orange',
          text: 'хит'
        },
        tags: [
          '1/48',
          'Автомобиль',
          'Bronco',
        ],
      },
      {
        id: '458',
        image: '/img/common/catalog/cat3',
        title: '3D Декаль интерьера кабины Су-30СМ',
        cat: 'Цветные 3D интерьеры',
        price: '1200',
        code: true,
        like: true,
        badge: {
          class: 'badge--orange',
          text: 'хит'
        },
        tags: [
          '1/48',
          'Автомобиль',
          'Special Hobby',
        ],
      },
      {
        id: '97',
        image: '/img/common/catalog/cat4',
        title: 'Киперные ленты управляющих поверхностей Ил-2',
        cat: 'Элементы экстерьера',
        price: '3520',
        code: true,
        like: true,
        badge: {
          class: 'badge--red',
          text: 'Акция'
        },
        tags: [
          '1/48',
          'Авиация',
          'Все модели',
        ],
      },
      {
        id: '951',
        image: '/img/common/catalog/cat5',
        title: 'Набор остекления коррекционный Як-1Б',
        cat: 'Остекление кабин',
        price: '8500',
        code: true,
        like: true,
        badge: {
          class: 'badge--green',
          text: 'Новинка'
        },
        tags: [
          '1/35',
          'Авиация',
          'Звезда/Eduard',
        ],
      },
      {
        id: '852',
        image: '/img/common/catalog/cat6',
        title: '3D Декаль интерьера кабины для ГАЗ 233014 Тигр',
        cat: 'Цветные 3D интерьеры',
        price: '3520',
        code: true,
        like: true,
        badge: false,
        tags: [
          '1/35',
          'Автомобиль',
          'Meng',
        ],
      },
      {
        id: '23254',
        image: '/img/common/catalog/cat1',
        title: '3D Декаль интерьера кабины семейство Opel Blitz',
        cat: 'Цветные 3D интерьеры',
        price: '90',
        code: true,
        like: true,
        badge: {
          class: 'badge--red',
          text: 'Акция'
        },
        tags: [
          '1/48',
          'Автомобиль',
          'Tamiya/Italeri',
        ],
      },
      {
        id: '8978',
        image: '/img/common/catalog/cat2',
        title: '3D Декаль интерьера кабины для семейства HUMVEE',
        cat: 'Цветные 3D интерьеры',
        price: '3520',
        code: true,
        like: true,
        badge: {
          class: 'badge--orange',
          text: 'хит'
        },
        tags: [
          '1/48',
          'Автомобиль',
          'Bronco',
        ],
      },
      {
        id: '456758',
        image: '/img/common/catalog/cat3',
        title: '3D Декаль интерьера кабины Су-30СМ',
        cat: 'Цветные 3D интерьеры',
        price: '550',
        code: true,
        like: true,
        badge: {
          class: 'badge--orange',
          text: 'хит'
        },
        tags: [
          '1/48',
          'Автомобиль',
          'Special Hobby',
        ],
      },
      {
        id: '5697',
        image: '/img/common/catalog/cat4',
        title: 'Киперные ленты управляющих поверхностей Ил-2',
        cat: 'Элементы экстерьера',
        price: '7200',
        code: true,
        like: true,
        badge: {
          class: 'badge--red',
          text: 'Акция'
        },
        tags: [
          '1/48',
          'Авиация',
          'Все модели',
        ],
      },
      {
        id: '95881',
        image: '/img/common/catalog/cat5',
        title: 'Набор остекления коррекционный Як-1Б',
        cat: 'Остекление кабин',
        price: '280',
        like: true,
        code: true,
        badge: {
          class: 'badge--green',
          text: 'Новинка'
        },
        tags: [
          '1/35',
          'Авиация',
          'Звезда/Eduard',
        ],
      },
      {
        id: '8652',
        image: '/img/common/catalog/cat6',
        title: '3D Декаль интерьера кабины для ГАЗ 233014 Тигр',
        cat: 'Цветные 3D интерьеры',
        price: '3520',
        like: true,
        code: true,
        badge: false,
        tags: [
          '1/35',
          'Автомобиль',
          'Meng',
        ],
      },
    ],

    slider: [
      {
        id: '112',
        image: '/img/common/catalog/cat1',
        title: '3D Декаль интерьера кабины семейство Opel Blitz',
        cat: 'Цветные 3D интерьеры',
        price: false,
        code: false,
        badge: false,
        tags: [
          '1/48',
          'Автомобиль',
          'Tamiya/Italeri',
        ],
      },
      {
        id: '1225',
        image: '/img/common/catalog/cat2',
        title: '3D Декаль интерьера кабины для семейства HUMVEE',
        cat: 'Цветные 3D интерьеры',
        price: false,
        code: false,
        badge: false,
        tags: [
          '1/48',
          'Автомобиль',
          'Bronco',
        ],
      },
      {
        id: '458',
        image: '/img/common/catalog/cat3',
        title: '3D Декаль интерьера кабины Су-30СМ',
        cat: 'Цветные 3D интерьеры',
        price: false,
        code: false,
        badge: false,
        tags: [
          '1/48',
          'Автомобиль',
          'Special Hobby',
        ],
      },
      {
        id: '97',
        image: '/img/common/catalog/cat4',
        title: 'Киперные ленты управляющих поверхностей Ил-2',
        cat: 'Элементы экстерьера',
        price: false,
        code: false,
        badge: false,
        tags: [
          '1/48',
          'Авиация',
          'Все модели',
        ],
      },
      {
        id: '951',
        image: '/img/common/catalog/cat5',
        title: 'Набор остекления коррекционный Як-1Б',
        cat: 'Остекление кабин',
        price: false,
        code: false,
        badge: false,
        tags: [
          '1/35',
          'Авиация',
          'Звезда/Eduard',
        ],
      },
      {
        id: '852',
        image: '/img/common/catalog/cat6',
        title: '3D Декаль интерьера кабины для ГАЗ 233014 Тигр',
        cat: 'Цветные 3D интерьеры',
        price: false,
        code: false,
        badge: false,
        tags: [
          '1/35',
          'Автомобиль',
          'Meng',
        ],
      },
     
    ],


    blogList: [
    {
        date: '15 апреля 2022',
        image: '/img/common/catalog/cat5',
        hits: '237',
        title: 'Мой первый самолет. С чего начать?',
        desc: 'Наше замечательное хобби привлекает все больше новых людей, но многие из желающих заняться моделизмом сталкиваются с непониманием с чего..',
        tags: [
            'Авиация',
            'Стендовый моделизм',
            'Покраска',
        ],
    },

    {
        date: '19 июля 2022',
        image: '/img/common/catalog/cat6',
        hits: '185',
        title: 'ГАЗ-233014 - СТС «Тигр». Новый 3D интерьер от Quinta Studio',
        desc: 'Наше замечательное хобби привлекает все больше новых людей, но многие из желающих...',
        tags: [
            'Цветные 3D интерьеры',
            'Автомобили',
        ], 
    },
    {
        date: '15 апреля 2022',
        hits: '237',
        image: '/img/common/catalog/cat5',
        title: 'Мой первый самолет. С чего начать?',
        desc: 'Наше замечательное хобби привлекает все больше новых людей, но многие из желающих заняться моделизмом сталкиваются с непониманием с чего..',
        tags: [
            'Авиация',
            'Стендовый моделизм',
            'Покраска',
        ],
    },

    {
        date: '19 июля 2022',
        hits: '185',
        image: '/img/common/catalog/cat6',
        title: 'ГАЗ-233014 - СТС «Тигр». Новый 3D интерьер от Quinta Studio',
        desc: 'Наше замечательное хобби привлекает все больше новых людей, но многие из желающих...',
        tags: [
            'Цветные 3D интерьеры',
            'Автомобили',
        ],
    },
    {
        date: '15 апреля 2022',
        hits: '237',
        image: '/img/common/catalog/cat5',
        title: 'Мой первый самолет. С чего начать?',
        desc: 'Наше замечательное хобби привлекает все больше новых людей, но многие из желающих заняться моделизмом сталкиваются с непониманием с чего..',
        tags: [
            'Авиация',
            'Стендовый моделизм',
            'Покраска',
        ],
    },

    {
        date: '19 июля 2022',
        hits: '185',
        image: '/img/common/catalog/cat6',
        title: 'ГАЗ-233014 - СТС «Тигр». Новый 3D интерьер от Quinta Studio',
        desc: 'Наше замечательное хобби привлекает все больше новых людей, но многие из желающих...',
        tags: [
            'Цветные 3D интерьеры',
            'Автомобили',
        ],
    }
    
  ]

   
  }

 






















