- 
  const app = {

    mainMenu: [
      { 'text': 'Новинки',  'href': 'new.html'},
      { 'text': 'Самолеты',  'href': 'airplanes.html'},
      { 'text': 'Вертолеты',  'href': 'helicopters.html'},
      { 'text': 'Автомобили',  'href': 'cars.html'},
      { 'text': 'Бронетехника',  'href': 'armored.html'},
      
    ],
    footerMenu: [
      { 'text': 'Каталог',  'href': '#'},
      { 'text': 'Оптовикам',  'href': '#'},
      { 'text': 'Оплата и доставка',  'href': '#'},
      { 'text': 'Возврат',  'href': '#'},
      { 'text': 'О компании      ',  'href': '#'},
      { 'text': 'Контакты',  'href': '#'},
      { 'text': 'Блог',  'href': '#'},
      { 'text': 'Юридическая информация',  'href': '#'},
      
    ],

    catalog: [
      {
        id: '112',
        image: '/img/common/catalog/cat1',
        title: '3D Декаль интерьера кабины семейство Opel Blitz',
        cat: 'Цветные 3D интерьеры',
        badge: {
          class: 'badge--red',
          text: 'Акция'
        },
        tags: [
          '1/48',
          'Автомобиль',
          'Tamiya/Italeri',
        ],
      },
      {
        id: '1225',
        image: '/img/common/catalog/cat2',
        title: '3D Декаль интерьера кабины для семейства HUMVEE',
        cat: 'Цветные 3D интерьеры',
        badge: {
          class: 'badge--orange',
          text: 'хит'
        },
        tags: [
          '1/48',
          'Автомобиль',
          'Bronco',
        ],
      },
      {
        id: '458',
        image: '/img/common/catalog/cat3',
        title: '3D Декаль интерьера кабины Су-30СМ',
        cat: 'Цветные 3D интерьеры',
        badge: {
          class: 'badge--orange',
          text: 'хит'
        },
        tags: [
          '1/48',
          'Автомобиль',
          'Special Hobby',
        ],
      },
      {
        id: '97',
        image: '/img/common/catalog/cat4',
        title: 'Киперные ленты управляющих поверхностей Ил-2',
        cat: 'Элементы экстерьера',
        badge: {
          class: 'badge--red',
          text: 'Акция'
        },
        tags: [
          '1/48',
          'Авиация',
          'Все модели',
        ],
      },
      {
        id: '951',
        image: '/img/common/catalog/cat5',
        title: 'Набор остекления коррекционный Як-1Б',
        cat: 'Остекление кабин',
        badge: {
          class: 'badge--green',
          text: 'Новинка'
        },
        tags: [
          '1/35',
          'Авиация',
          'Звезда/Eduard',
        ],
      },
      {
        id: '852',
        image: '/img/common/catalog/cat6',
        title: '3D Декаль интерьера кабины для ГАЗ 233014 Тигр',
        cat: 'Цветные 3D интерьеры',
        badge: false,
        tags: [
          '1/35',
          'Автомобиль',
          'Meng',
        ],
      },
      {
        id: '23254',
        image: '/img/common/catalog/cat1',
        title: '3D Декаль интерьера кабины семейство Opel Blitz',
        cat: 'Цветные 3D интерьеры',
        badge: {
          class: 'badge--red',
          text: 'Акция'
        },
        tags: [
          '1/48',
          'Автомобиль',
          'Tamiya/Italeri',
        ],
      },
      {
        id: '8978',
        image: '/img/common/catalog/cat2',
        title: '3D Декаль интерьера кабины для семейства HUMVEE',
        cat: 'Цветные 3D интерьеры',
        badge: {
          class: 'badge--orange',
          text: 'хит'
        },
        tags: [
          '1/48',
          'Автомобиль',
          'Bronco',
        ],
      },
      {
        id: '456758',
        image: '/img/common/catalog/cat3',
        title: '3D Декаль интерьера кабины Су-30СМ',
        cat: 'Цветные 3D интерьеры',
        badge: {
          class: 'badge--orange',
          text: 'хит'
        },
        tags: [
          '1/48',
          'Автомобиль',
          'Special Hobby',
        ],
      },
      {
        id: '5697',
        image: '/img/common/catalog/cat4',
        title: 'Киперные ленты управляющих поверхностей Ил-2',
        cat: 'Элементы экстерьера',
        badge: {
          class: 'badge--red',
          text: 'Акция'
        },
        tags: [
          '1/48',
          'Авиация',
          'Все модели',
        ],
      },
      {
        id: '95881',
        image: '/img/common/catalog/cat5',
        title: 'Набор остекления коррекционный Як-1Б',
        cat: 'Остекление кабин',
        badge: {
          class: 'badge--green',
          text: 'Новинка'
        },
        tags: [
          '1/35',
          'Авиация',
          'Звезда/Eduard',
        ],
      },
      {
        id: '8652',
        image: '/img/common/catalog/cat6',
        title: '3D Декаль интерьера кабины для ГАЗ 233014 Тигр',
        cat: 'Цветные 3D интерьеры',
        badge: false,
        tags: [
          '1/35',
          'Автомобиль',
          'Meng',
        ],
      },
    ]

   
  }























