- 
  const app = {

    mainMenu: [
      { 'text': 'Новинки',  'href': 'new.html'},
      { 'text': 'Самолеты',  'href': 'airplanes.html'},
      { 'text': 'Вертолеты',  'href': 'helicopters.html'},
      { 'text': 'Автомобили',  'href': 'cars.html'},
      { 'text': 'Бронетехника',  'href': 'armored.html'},
      
    ],
    footerMenu: [
      { 'text': 'Каталог',  'href': '#'},
      { 'text': 'Оптовикам',  'href': '#'},
      { 'text': 'Оплата и доставка',  'href': '#'},
      { 'text': 'Возврат',  'href': '#'},
      { 'text': 'О компании      ',  'href': '#'},
      { 'text': 'Контакты',  'href': '#'},
      { 'text': 'Блог',  'href': '#'},
      { 'text': 'Юридическая информация',  'href': '#'},
      
    ],

   
  }























