- 
  const app = {

    mainMenu: [
      { 'text': 'Новинки',  'href': 'new.html'},
      { 'text': 'Самолеты',  'href': 'airplanes.html'},
      { 'text': 'Вертолеты',  'href': 'helicopters.html'},
      { 'text': 'Автомобили',  'href': 'cars.html'},
      { 'text': 'Бронетехника',  'href': 'armored.html'},
      
    ],

   
  }























